<!-- navigation bar -->
<ul class="nav nav-tabs">
  <li><a href="/matchups">Home</a></li>
  <li><a href="/bankrolls">My Bankroll</a></li>
  <li><a href="">Markets</a></li>
  <li class="active"><a href="/faqs">Glossary</a></li>
  <li class="pull-right"><a href="">Logout</a></li>
</ul>

<!-- header -->
<div class="hero-unit">
  <h1>Glossary & FAQ</h1>
  <p>All terminology, methodology, and strategy explained.</p>
</div>
<!-- end header -->

<div class="row">
	<div class="span8 offset1" style="margin-bottom: 20px;">
		<fieldset>
			<legend>Unit</legend>
			<p>A unit is typically 1-2% of your bankroll. It's common to measure figures such as profits and losses in units. It's suggested to make a have 1 unit as a baseline for a wager amount. For example, a $10,000 bankroll would have units of $100.</p>
		</fieldset>
	</div>
	<div class="span8 offset1" style="margin-bottom: 20px;">
		<fieldset>
			<legend>Public Money %</legend>
			<p>Public money represents the percentage of people wagering on one side. It does not reflect the amount of money on one side though. Sometimes there will be a discrepancy in public money % and line movement. This discrepancy can provide valuable information to an investor.</p>
		</fieldset>
	</div>
	<div class="span8 offset1" style="margin-bottom: 20px;">
		<fieldset>
			<legend>Kelly Criterion</legend>
			<p>Kelly criterion is used for bankroll growth. Given the odds and estimated win percentage for a certain event, the calulator will output a suggested stake and expected profit. You can adjust the Kelly multiplier depending on how aggressive you want to be. Default is half Kelly.</p>
		</fieldset>
	</div>
	<div class="span8 offset1">
		<fieldset>
			<legend>Implied Probability</legend>
			<p>Calculates a given line's implied win probability (in %). Also can calculate the odds that equate to a given probability. Simply enter a value in one of the fields to calculate the other.</p>
		</fieldset>
	</div>
</div>